* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

img {
    width: 100%;
    display: block;
}


/*BODY*/

body {
    width: 100vw;
    height: auto;
    /* background-color: burlywood; */
    /*flex styles*/
    display: flex;
    flex-direction: column;
}


/*HEADER*/

header {
    padding: 0 8rem 0 8rem;
    width: 100%;
    height: 10vh;
    text-decoration: none;
    background-color: black;
    /*flex styles*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caja {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: white;
    padding: 10px 10px;
}

.CC {
    background-color: #f1c70c;
    border-radius: 0.5em;
    text-shadow: 0 0 5px black;
}

.caja:hover {
    color: black;
    background-color: white;
}

.CC:hover {
    background-color: #f1c70c;
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 20px rgb(245, 255, 152);
}

.banner-left {
    display: flex;
    justify-content: center;
}

.banner-right {
    display: flex;
    justify-content: center;
}

.bxs-cart {
    font-size: 1.5rem;
}

.menu-desplegable ul {
    display: none;
}

.menu-desplegable:hover {
    display: block;
}


/*HERO*/

main {
    height: 80vh;
    width: auto;
    align-items: center;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.hero {
    margin: 0 auto;
    border-radius: 1rem;
    min-width: 30vw;
    min-height: 40vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
}

.formulario {
    letter-spacing: 0.1em;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* align-items: baseline; */
    align-content: center;
}

.formulario input,
h2 {
    margin-bottom: 1rem;
    font-size: x-large;
}

.btn-login {
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5em;
    transition: .7s;
}

.btn-login:hover {
    background-color: #f1c70c;
    color: white;
    cursor: pointer;
}


/*FOOTER*/

footer {
    position: fixed;
    bottom: 0;
    padding: 0 8rem 0 8rem;
    width: 100vw;
    height: 10vh;
    text-decoration: none;
    background-color: black;
    /*flex styles*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right {
    display: flex;
    flex-direction: row;
}

.footer-right i {
    font-size: 1.5rem;
    color: white;
}

.footer-right i:hover {
    cursor: pointer;
}