* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    list-style: none;
}


/* :root{
    font-size: 62.5%;
} */

img {
    width: 100%;
    display: block;
}


/*BODY*/

body {
    width: 100vw;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    flex-direction: column;
}


/*HEADER*/

header {
    padding: 1.5rem 8rem 1.5rem 8rem;
    width: 100vw;
    text-decoration: none;
    background-color: black;
    /*flex styles*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caja {
    text-decoration: none;
    width: 100%;
    height: auto;
    color: white;
    padding: 10px 10px;
}

.CC {
    background-color: #f1c70c;
    border-radius: 0.5em;
    text-shadow: 0 0 5px black;
}

.caja:hover {
    color: black;
    background-color: white;
}

.CC:hover {
    background-color: #f1c70c;
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 20px rgb(245, 255, 152);
}

.banner-left {
    display: flex;
    justify-content: center;
}

.banner-right {
    display: flex;
    justify-content: center;
}

.bxs-cart {
    font-size: 1.5rem;
}

.menu-desplegable ul {
    display: none;
}

.menu-desplegable:hover {
    display: block;
}


/*HERO*/

main {
    height: auto;
    width: 100vw;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero {
    margin: 0 auto;
    border-radius: 1rem;
    min-width: 30vw;
    min-height: 40vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
}

.formulario {
    letter-spacing: 0.1em;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* align-items: baseline; */
    align-content: center;
}

.formulario input,
h2 {
    margin-bottom: 1rem;
    font-size: x-large;
}

.btn-login {
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5em;
    transition: .7s;
}

.btn-login:hover {
    background-color: #f1c70c;
    color: white;
    cursor: pointer;
}


/*MAIN div juegos inicio*/

.titulo-juegos {
    margin-top: 2rem;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: white;
}

.div-juegos {
    margin: 2rem 0 2rem 0;
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card-juego img {
    width: 300px;
    height: 300px;
}

.card-juego {
    border-radius: 0.5em;
    max-width: 20rem;
    min-width: 20rem;
    /* max-height: 500px; */
    min-height: 400px;
    padding: 1rem;
    background-color: aliceblue;
}

.cuerpo-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cuerpo-card h4 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.paginacion {
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.boton-comprar {
    color: white;
    border-radius: 0.5em;
    padding: 0.5rem;
    text-align: center;
    background-color: black!important;
    transform: scale(1)!important;
    transition: 0.5s!important;
}

.boton-comprar:hover {
    cursor: pointer;
    transform: scale(1.1)!important;
    color: #f1c70c!important;
}

form,
.boton-comprar {
    text-align: center;
}


/*FOOTER*/

footer {
    position: sticky;
    bottom: 0;
    padding: 1.5rem 8rem 1.5rem 8rem;
    width: 100vw;
    height: auto;
    text-decoration: none;
    background-color: black;
    /*flex styles*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right {
    display: flex;
    flex-direction: row;
}

.footer-right i {
    font-size: 1.5rem;
}

.footer-right i:hover {
    cursor: pointer;
}


/*FORMULARIO Y REGISTRO DE USUARIOS*/

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}


/*RESPONSIVE*/


/*Moviles y tablets*/

@media screen and (max-width:768px) {
    header {
        flex-direction: column;
    }
    footer {
        text-align: center;
        flex-direction: column;
    }
}

@media screen and (max-width:480px) {
    .banner-left {
        text-align: center;
        flex-direction: column;
    }
    .banner-right {
        text-align: center;
        flex-direction: column;
    }
    .footer-right {
        text-align: center;
        flex-direction: column;
    }
    .banner-left {
        text-align: center;
        flex-direction: column;
    }
}