* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    list-style: none;
}


/* :root{
    font-size: 62.5%;
} */

img {
    width: 100%;
    display: block;
}


/*BODY*/

body {
    width: calc(100vw - 1.1rem);
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    flex-direction: column;
}


/*HEADER*/

header {
    padding: 1.5rem 8rem 1.5rem 8rem;
    width: 100%;
    text-decoration: none;
    background-color: black;
    /*flex styles*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caja {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: white;
    padding: 10px 10px;
}

.CC {
    background-color: #f1c70c;
    border-radius: 0.5em;
    text-shadow: 0 0 5px black;
}

.caja:hover {
    color: black;
    background-color: white;
}

.CC:hover {
    background-color: #f1c70c;
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 20px rgb(245, 255, 152);
}

.menu-desplegable ul {
    display: none;
}

.menu-desplegable:hover {
    display: block;
}


/*HERO*/

main {
    height: auto;
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.hero {
    margin: 0 auto;
    border-radius: 1rem;
    min-width: 30vw;
    min-height: 40vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
}

.formulario {
    letter-spacing: 0.1em;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* align-items: baseline; */
    align-content: center;
}

.formulario input,
h2 {
    margin-bottom: 1rem;
    font-size: x-large;
}

.btn-login {
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5em;
    transition: .7s;
}

.btn-login:hover {
    background-color: #f1c70c;
    color: white;
    cursor: pointer;
}


/*MAIN div juegos inicio*/

.titulo-juegos {
    margin-top: 2rem;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: white;
}

.div-juegos {
    margin: 2rem 0 2rem 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card-juego {
    border-radius: 0.5em;
    width: 15rem;
    min-height: 400px;
    padding: 1rem;
    background-color: aliceblue;
}

.paginacion {
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}


/*FOOTER*/

footer {
    bottom: 0;
    padding: 1.5rem 8rem 1.5rem 8rem;
    width: 100%;
    height: auto;
    text-decoration: none;
    background-color: black;
    /*flex styles*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right {
    display: flex;
    flex-direction: row;
}

.footer-right i {
    font-size: 1.5rem;
}

.footer-right i:hover {
    cursor: pointer;
}